<div class="wrapper">
    <section class="section">
        <h1>Book Details</h1>
        <div class="content">
            <section class="book-cover">
                <mat-card>
                    <div class="media">
                        <img mat-card-image [src]="book()?.img">
                    </div>
                    <mat-card-actions>
                        <section class="owner-actions">
                            @if (userSession.userId() === book()?.owner?._id) {
                            <a class="edit-button" matButton="text"
                                [routerLink]="[`/books/edit/${book()?._id}`]">Edit</a>
                            <button class="delete-button" matButton="filled" (click)="onBookDelete()">Delete</button>
                            }
                        </section>
                        <section class="user-actions">
                            <p>Likes: {{likesCount()}}</p>
                            <div class="like-button-div">
                                @if (userSession.userToken()) {
                                    @if (!userLikeId()) {
                                        <button class="like-button" matButton="filled" (click)="onLike()">Like</button>
                                    } @else {
                                        <button class="unlike-button" matButton="filled" (click)="onUnlike()">Unlike</button>
                                    }
                                }
                            </div>
                        </section>
                    </mat-card-actions>
                </mat-card>
            </section>

            <section class="book-details">
                <div>
                    <h2 class="title">{{book()?.title | titlecase}}</h2>
                    <h3 class="author">by {{book()?.author | titlecase}}</h3>
                </div>
                <p class="added-by">Added by:
                    <a [routerLink]="[`/users/details/${book()?._ownerId}`]">{{book()?.owner?.firstName | titlecase}}
                        {{book()?.owner?.lastName | titlecase}}</a>
                </p>
                <section class="book-summary">
                    <h2>Summary:</h2>
                    <p>{{book()?.summary}}</p>
                </section>

                <section class="comment-input">
                    @if (userSession.userToken()) {
                    <form (ngSubmit)="onCommentSubmit()" [formGroup]="commentForm">
                        <mat-form-field appearance="outline">
                            <mat-label>Share your thoughts...</mat-label>
                            <input matInput type="text" formControlName="create-content">
                        </mat-form-field>
                        <div class="button-container">
                            <button mat-raised-button class="post-button" type="submit">Post</button>
                        </div>
                    </form>
                    }
                </section>

                <section class="comments">
                    <ul>
                        @for (comment of comments(); track comment._id) {
                            <app-comment-item
                                [comment]="comment"
                                [getClickedCommentId]="clickedComemntEditId()"
                                (delete)="onCommentDelete($event)"
                                (onCommentEditClick)="onCommentEditClick($event)"
                                (setClickedCommentId)="clickedComemntEditId.set($event)"
                                (submit)="onCommentSubmit($event)"
                            >
                            </app-comment-item>
                        }
                    </ul>
                </section>
            </section>
        </div>
    </section>
</div>