li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

li mat-card {
    width: 200px;
    max-width: 200px;
    background-color: inherit;
    border: none;
    box-shadow: none;
}

mat-card a:hover .media {
    transform: scale(102.5%);
    transition: 0.15s ease-in;
}

mat-card a:hover .book-title {
    text-decoration: underline;
}

mat-card a mat-card-title-group {
    margin-top: 1rem;
}

mat-card a mat-card-title-group>* {
    text-align: left;
}

mat-card a mat-card-title-group .book-author {
    color: rgba(0, 0, 0, 0.659);
}

mat-card mat-card-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1rem;
}

mat-card a .media {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1.5;
    overflow: visible;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.475);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

img {
    object-fit: cover;
    display: block;
    border-radius: inherit;
}