a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

section.nav-bar {
    background-color: #FFD767;
    z-index: 999;
    height: 60px;
    width: 100%;
    padding-inline: 2rem;
    position: fixed;
    top: 0;
}

.nav-bar nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: inherit
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

ul a {
    font-weight: 500;
}

ul li:hover {
    text-decoration: underline;
    transform: scale(1.1);
    transition: 0.2s ease-out;
}

#logout {
    font-weight: 500;
}

#logout:hover {
    cursor: pointer;
}