<section class="nav-bar">
    <nav>
        <a routerLink="/" class="logo"><h2>Book Reads</h2></a>
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/catalog">Catalog</a></li>
            @if(this.userSession.userToken()) {
                <li><a routerLink="/books/add">Add new book</a></li>
                <li (click)="onLogout()" id="logout">Logout</li>
            }
            @else {
                <li><a routerLink="/login">Login</a></li>
                <li><a routerLink="/register">Register</a></li>
            }
        </ul>
    </nav>
</section>