<section class="nav-bar">
    <nav>
        <a href="#" class="logo"><h2>Book Reads</h2></a>
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/catalog">Catalog</a></li>
            @if(this.userSession.sessionData() && this.userSession.sessionData() !== 'none') {
                <li><a href="/books/add">Add new book</a></li>
                <li (click)="onLogout()"><a href="#">Logout</a></li>
            }
            @else {
                <li><a routerLink="/login">Login</a></li>
                <li><a routerLink="/register">Register</a></li>
            }
        </ul>
    </nav>
</section>